table, tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}
tr.menu td{
    padding: 20px 20px 130px 20px;
}

tr.title {
    background-color:  #999a9e;
    color: #4340d3;
    text-align: center;
    font-size: 12;
    font-weight: bold;
    height: 50px;
}

table#information {
    margin-top: 20px;
}

td#nv {
    font-size: 14;
    color: blue;
}

tr.title_result {
    font-weight: bold;
    font-size: large;
}

tr.tot {
    font-weight: bold;
}